body {
  font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
}

/* STYLES OF THE CAROUSEL*/
/* For carousel height image*/
.d-block{
  height: 32vw;
}

/* STYLES OF THE NAVBAR INDEX */
.image-nav-index {
  height: 3vw;
  border-radius: 100%;
}

.container-fluid {
  background-color: rgb(2, 2, 56);
}

.container-fluid h3 {
  color: white;
}

.container-fluid a{
  color: white;
}

.navbar-nav > li > a.nav-link:hover {
  color: yellow;
}

.dropdown-menu li{
  border-color: rgb(2, 2, 56);
  background-color: rgb(2, 2, 56);
  color: red;
  text-decoration: red;
  color-scheme: rgb(2, 2, 56) ;
}
.dropdown-menu a{
  border-color: rgb(2, 2, 56);
  background-color: rgb(2, 2, 56);
  color-scheme: rgb(2, 2, 56) ;
}

.dropdown-menu > li > a.dropdown-item:hover {
  border-color: rgb(2, 2, 56);
  background-color: rgb(2, 2, 56);
  color-scheme: rgb(2, 2, 56) ;
  color: yellow;
}